@media only screen and (max-width: 480px) {
    #btn-ctrl {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    #btn-ctrl button {
        margin-bottom: 1rem;
        margin-left: 0 !important;
    }
}
